.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    margin-top: 3.8rem;
    width: 70%;
    border-left: 1px solid lightgray;
    padding: 0 2.1rem;
}

img{
    padding: 2rem;
    width: 35vw;
    object-fit: cover;
}

@media screen and (max-width: 500px){
    .container{
        display: flex;
        flex-direction: column;
    }
}