.button {
    margin: 0.75rem;
    width: 85px;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.logo{
    padding: 0;
    width: 5rem;
    height: 4rem;
    object-fit: cover;
    mix-blend-mode: color-dodge;
}