.container-fluid {
  margin: 2rem;
}

.list-header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__table {
  margin: 20px auto;
}

.alert {
  text-align: center;
}

.center-header{
  padding: 1rem 0;
  text-align: center;
}

.status-new{
  background: rgb(74, 74, 228)  !important;
}

.status-accepted{
  background: rgba(96, 238, 96, 0.904) !important;
}

.status-rejected{
  background: rgba(225, 66, 66, 0.959) !important;
}

