.container-fluid {
  margin: 2rem;
}

.list-header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__table {
  margin: 20px auto;
}

.alert {
  text-align: center;
}

.center-header{
  padding: 1rem 0;
  text-align: center;
}

.status-new{
  background-color: rgba(110, 110, 235, 0.977)  !important;
}

.status-accepted{
  background: greenyellow !important;
}

.status-rejected{
  background-color: rgba(220, 87, 87, 0.922) !important;
}



