.total-tickets {
  background-color: grey;
  color: black;
}

.new-tickets {
  background-color: rgba(125, 125, 240, 0.977) !important;
  color: black;
}

.assigned-tickets {
  background-color: rgb(151, 235, 24) !important;
  color: black;
}

.inProgress-tickets {
  background-color: rgb(252, 255, 47) !important;
  color: black;
}

.resolved-tickets {
  background-color: rgb(225, 134, 36) !important;
  color: black;
}
